<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="fileMapper">

	<select id="selectAllwebhard" resultType="file.FileDTO">
		SELECT * FROM webhard
	</select>
	
	<select id="selectFileByNum" parameterType="int" resultType="file.FileDTO">
		SELECT * FROM webhard WHERE num = #{num}
	</select>
	
	<insert id="insertFile" parameterType="file.FileDTO">
		INSERT INTO webhard (fname, ftime, fsize)
		values (#{fname}, #{ftime}, #{fsize})
	</insert>
	
	<delete id="deleteFile" parameterType="int">
		DELETE FROM webhard where num = #{num}
	</delete>
	
</mapper>